@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	width: 100%;
  text-align: center;
}

body {
	background-color: rgb(10, 10, 10);
}

@layer base {
	@font-face {
		font-family: "3x5";
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(/fonts/3-by-5-pixel-font.woff2) format("woff2");
	}
}

a {
	color: inherit !important;
}

.sidebar {
	border-right: 1px solid rgb(38,38,38);
}

.top-bar {
	border-bottom: 1px solid rgb(38,38,38);

	h1 {
		font-size: 16px;
	}
}

.page-title {
	font-size: 24px;
	font-weight: 600;
	margin-left: 4px;
}

.page-subtitle {
	font-size: 20px;
	font-weight: 600;
}

.character-image {
	background-size: cover;
}

.card-button {
	background: rgb(10, 10, 10);
	padding: 1em 1.2em;
	border: 1px solid rgb(38 38 38);
}

.accordion-trigger {
	font-size: 20px !important;
	background: transparent;
	margin: 0 0 0 4px;
	padding: 0 0 16px;

	&:hover {
		border: 1px solid transparent;
	}

	&:active {
		border: 1px solid transparent;
	}

	&:focus {
		outline: 1px solid transparent;
	}
}

.bg-transparent {
	background: transparent;
}

.hover-no-border {
	border: 1px solid transparent;

	&:hover {
		border: 1px solid transparent;
	}

	&:focus {
		outline: 1px solid transparent;
	}

	&:focus-visible {
		outline: 1px solid transparent;
	}

	&:active {
		border: 1px solid transparent;
	}
}

.museum-set-on {
	background: rgba(34,197,94,.1);
	border: 1px solid rgb(20 83 45 / 1);
}

.tabs {
	width: 100%;
	background: transparent;

	.tabs-list {
		width: 100%;
		background: transparent;
	}
}

.tabs-list {
	margin: 12px 0 24px;
}

.tabs-trigger {
	flex-grow: 1;
	background: transparent;
	border-radius: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.149);

	&:hover {
		border: 1px solid transparent;
		border-bottom: 1px solid rgba(255, 255, 255, 0.149);
	}

	&:focus {
		outline: 1px solid transparent;
	}

	&:focus-visible {
		outline: 1px solid transparent;
	}

	&:active {
		border: 1px solid transparent;
	}

	&[data-state='active'] {
		background: transparent;
		border-bottom: 1px solid rgb(255, 255, 255);
		color: rgb(255,255,255);
	}
}

.toggle-group-item {
	border: 1px solid rgba(255, 255, 255, 0.113);

	&:focus {
		outline: 1px solid rgba(255, 255, 255, 0.113);
	}

	&:active {
		border: 1px solid rgba(255, 255, 255, 0.113);
	}

	&:focus-visible {
		border: 1px solid rgba(255, 255, 255, 0.113);
	}

	&[aria-checked='true'] {
		background: rgba(255, 255, 255, 0.1);
		border-color: rgba(255, 255, 255, 0.3);
	}
}